---
- hosts: all
- name: Include dynamic variables 
  tasks:
  import_playbook: ../static-assignments/common.yml 
  include: ../dynamic-assignments/env-vars.yml
  tags:
    - always

- hosts: webservers
- name: webservers assignment
  import_playbook: ../static-assignments/webservers.yml

- hosts: Loadbalancers assignment
  name: Lb
-  import_playbook: ../static-assignments/loadbalancers.yml
   when: load_balancer_is_required 

      
